<div class="form">
    <div class="drive-panel">
        <div><i class="icon dx-icon-activefolder"></i>&nbsp;Drive C:</div>
        <dx-sortable
            filter=".dx-treeview-item"
            group="shared"
            data="driveC"            
            [allowDropInsideItem]="true"
            [allowReordering]="true"
            (onDragChange)="onDragChange($event)"
            (onDragEnd)="onDragEnd($event)">        
            <dx-tree-view #treeviewDriveC
                id="treeviewDriveC"
                dataStructure="plain"
                [expandNodesRecursive]="false"
                [items]="itemsDriveC"
                [width]="250"
                [height]="380">
                <div *dxTemplate="let item of 'item'">
                    <div><i class="icon dx-icon-{{ item.isDirectory ? 'activefolder' : 'file' }}"></i>{{ item.name }}</div>
                </div>
            </dx-tree-view>
        </dx-sortable>
    </div>
    <div class="drive-panel">
        <div><i class="icon dx-icon-activefolder"></i>&nbsp;Drive D:</div>
        <dx-sortable
            filter=".dx-treeview-item"
            group="shared"            
            data="driveD"
            [allowDropInsideItem]="true"
            [allowReordering]="true"
            (onDragChange)="onDragChange($event)"
            (onDragEnd)="onDragEnd($event)">        
            <dx-tree-view #treeviewDriveD
                id="treeviewDriveD"
                dataStructure="plain"
                [expandNodesRecursive]="false"
                [items]="itemsDriveD"
                [width]="250"
                [height]="380">
                <div *dxTemplate="let item of 'item'">
                    <div><i class="icon dx-icon-{{ item.isDirectory ? 'activefolder' : 'file' }}"></i>{{ item.name }}</div>
                </div>
            </dx-tree-view>
        </dx-sortable> 
    </div>            
</div>